/*
Theme Name: kivicare Child
Theme URI: https://wordpress.iqonic.design/product/wp-free/kivicare_wp/
Template: kivicare
Author: Iqonic Design
Author URI: https://iqonic.design/
Description: kivicare WordPress Theme
Tags: four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-logo,custom-menu
Version: 1.0.0.1753680809
Updated: 2025-07-28 11:03:29

*/
